@import "../chameleon/styles.css";

.ripla-main {
    background-color:#F8F2DA;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}
.demo-main {
    background-color:#F8F2DA;
}

.demo-header {
    background:url("images/head_bg.jpg") repeat-x;
}

.demo-header-text {
	font-weight:bold;
    font-size:20px;
    color:white;
    background-color:inherit;
    margin-top:18px;
    margin-left:85px;
}

.ripla-toolbar,
.ripla-toolbar .v-button-link .v-button-caption {
    color:#000000;
    background-color:#F8F2DA;
}

.ripla-toolbar .v-button-link .v-button-caption {
    text-decoration:none;
    vertical-align:top;
}

.ripla-menubar {
    background-color:#F8F2DA;    
}

.modest-menubar {
    background-image:url("images/menubg1.jpg");
	background-repeat:repeat;
}

.v-menubar {
    border:0;
    padding:0;
}
.modest-menubar .v-menubar-menuitem {
    text-decoration:none; 
    color:#9B7746; 
    float:left; 	
    height:30px; 
    padding:9px 15px 0px 17px; 
    background:url(images/menubg1.jpg) no-repeat right top;
}
.modest-menubar .v-menubar-menuitem-selected,
.modest-menubar .v-menubar-menuitem a:hover {
    text-decoration:none; 
    color:#333333; 
    float:left; 
    height:30px; 
    padding:9px 15px 0px 17px; 
    background:url(images/menubg2.jpg) no-repeat right top;
}
.modest-menubar a:hover,
.modest-menubar a:active { 
    text-decoration: underline; 
    color: #CCCCCC; 
}
.modest-menubar .v-menubar-menuitem-ripla-menu-active {
    text-decoration:none; 
    color:#9B7746; 
    float:left; 	
    height:30px; 
    padding:9px 15px 0px 17px; 
    background:url(images/menubg2.jpg) no-repeat right top;
}

.v-menubar-submenu .v-menubar-menuitem {    
    color:#000000;
    background-color:inherit;
}

.v-menubar-submenu .v-menubar-menuitem-selected,
.v-menubar-submenu .v-menubar-menuitem:hover {
    color:#fb4e00;
    background-color:inherit;
}

.v-menubar-submenu-ripla-menu {
    position:relative;
    left:8px;
}

.ripla-sidebar {
    background-color:#F8F2DA;
}

.ripla-sidebar .ripla-contextmenu .ripla-contextmenu-item {
    margin:0 0 10px 0;
}
.ripla-sidebar .ripla-contextmenu div.active .v-button-caption {
	font-weight: bold;
	color:#9B7746;
}
.ripla-sidebar .ripla-contextmenu .ripla-contextmenu-item .v-button-caption {
    color:#000000;
    background-color:inherit;
    text-decoration:none;
}

.demo-footer {
	background:#000000; 
	height: 20px; 
	padding-top:5px; 
	border-top:solid 2px #666666; 
	text-align:center; 
	color:#999999; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:10px;
}

.demo-view .demo-pagetitle {
    font-weight:bold;
    color:#F4AA38;
    background-color:inherit;
    font-size:14pt;
    margin-bottom:10px;    
}

.ripla-lookup .demo-subtitle,
.demo-view .demo-subtitle {
    font-weight:bold;
    color:#F4AA38;
    background-color:inherit;
    font-size:11pt;
    margin-top:7px;    
    margin-bottom:5px;    
}

.ripla-lookup .ripla-lookup-close {
    position:absolute;
    bottom:25px;
    right:25px;
}

.ripla-lookup div.ripla-label-table .ripla-label {
    font-style:italic;
    vertical-align:top;
    margin-right:7px;
}

.ripla-lookup div.ripla-label-table .ripla-label,
.ripla-lookup div.ripla-label-table .ripla-value, 
.ripla-lookup div.ripla-label-table .ripla-value-emphasized {
    margin-top:3px;
}

.demo-view div.ripla-label-table .ripla-value,
.demo-view div.ripla-label-table .ripla-input {
    margin-left:5px;    
    margin-right:5px;    
}

.demo-view div.ripla-label-table .ripla-value-emphasized,
.ripla-lookup div.ripla-label-table .ripla-value-emphasized  {
    font-weight:bold;
}

.v-window-header {
    color:#000000;
    background-color:inherit;
}

.ripla-login-form {
    margin-top:100px;
}

.ripla-login-form .v-form-description {
    font-size:13pt;
    font-weight:bold;
    color:#000000;
    background-color:inherit;    
}